/* Estilos para el menú responsive */
@media (max-width: 1000px) {
  .mobile-menu-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    
    left: 0;
    width: 100%;
    background-color: #0077B5;
    z-index: 1; /* Asegura que el menú esté por encima de otros elementos */
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links a {
    padding: 10px;
  }

  .logo{
    padding: 0;
  }

  .mobile-menu-toggle{
    min-width: 33,33%;
  }

  .iconsLenguajes img {
   width: 30px;
  }

  .iconsSocial {
    width: auto;
    height: auto;
    align-items: center;
  }

  .iconsSocial img{
    max-width: 50px;
  }
  
}

/* Versión móvil (menos de 910px de ancho) */
@media screen and (max-width: 910px) {
  

  .LiServices {
    margin-right: 0;
  }

  #services {
    margin: 0;
    padding-top: 20px;
    
  }

  #services h3{
    font-size: 14px;
  }

  #services p{
    font-size: 12px;
  }

  .certificacion {
    width: auto;
  }

  .contenedorPadre {
    width: 100%;
    align-items: center;
    flex-direction: column;

  }
}

@media screen and (max-width: 600px){


.iconsLenguajes img {
  width: 25px;
  margin: 10px 10px;
 }

 .iconsLenguajes h5{
  font-size: 12px;
 }

 .gifContainer{
  width: auto;
  height: auto;
 }
 .gifContainer img{
  width:auto;
  height: auto;
 }

 .proyectos{
  width: 50%;
 }

 .button-container button{
  width: 50px;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5px 30px;
 }

 h1{
  font-size: 20px;
 }
 .gitLogo img{
  width: 70px;
  height: auto;
 }
}
