
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-repeat: repeat;
  color: #333;
  background-color: #101010;
 
}

header {
  text-align: center;
  padding: 20px 0;
  width: 100%;
  height: 600px;
  background-image: url('./fotos/presentacionPorta.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#check-menu {
  display: none;
}
  
.menu{
  display: none;
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
}

h1{
  text-shadow: 2px 2px 4px rgba(38, 38, 38, 0.5);
  padding: 10px;
  font-weight: bold;
  font-size:48px;
  color: #FFD700;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}


nav ul li a:hover {
  color: #5c95c0;
}

#services {
  padding: 20px 0;
  text-align: center;
}

.service {
  background-color: #FFD700;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.service h3 {
  font-size: 1.5rem;
  margin-top: 0;
  color: #0077B5;
  
}

.certificaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f9f9f900;
}

.certificacion {
  width: calc(25% - 20px);
  margin: 50px;
  padding: 20px;
  border-radius: 50%;
  background-color: #FFD700;
  color: #333333; 
  box-shadow: 2px 2px 5px #0076b57a;
  text-align: center;
  transition: transform 0.15s ease-in-out;
}

.certificacion:hover {
  transform: scale(1.03);
}

body h2 {
  font-size: 24px;
  margin: 20px 0px;
  text-align: center;
  color: whitesmoke;
}

.seccion-titulo {
  background-color: #f5f5f500;
}

.certificacion p {
  font-size: 16px;
  margin: 10px 0;
}

.certificacion a {
  color: #0077B5; 
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.certificacion a:hover {
  text-decoration: underline;
}

#portafolio {
  background-color: #FFD700;
  padding: 20px 0 40px 0px;
  text-align: center;
}

.contenedorPadre {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

.proyectos {
  width: calc(50% - 20px);
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  background-color: #f9f9f9;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

#services div {
  transition: transform 0.3s ease-in-out;
}

#services div:hover {
  transform: scale(1.1);
}

.gifContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.gift {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.h2Porta{
  color: #333333;
}

.iconsLenguajes img {
  width: 50px;
  height: auto;
  margin: 15px 20px;
}

.iconsSocial {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.iconsSocial img {
  width: 70px;
  height: auto;
  margin: 10px 60px;
  cursor: pointer;
  color: #f9f9f9;
}

.iconsLenguajes img,
.iconsSocial img {
  transition: transform 0.3s ease-in-out;
}

.iconsLenguajes img:hover,
.iconsSocial img:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.overlay a {
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.gifContainer:hover .overlay {
  opacity: 1;
}

/*CONTACTO*/
.contact-section {
  
  padding: 40px;
  text-align: center;
}

.form-container {
  max-width: 500px;
  margin: 20px auto;
  transform: translatex(10px);
  background-color: white;
  padding: 30px 40px 20px 20px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.136);
}

.contactTittle {
  margin-top: -10px;
  margin-bottom: 50px;
}

.form-container label {
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 100%;
  resize: vertical;
}

.form-container button {
  background-color: #0077B5; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.social-logo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 40px 0 0px 0;
  height: auto;
}

.social-logo img {
  width: 150px;
  height: auto;
}

.lkdLogo {
  transform: translatey(20px);
}

.form-container button:hover {
  background-color: #085b88;
}

#message {
  height: 200px;
}

/*FOOTER*/

footer {
  color: white;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 20px;
}

